@media screen and (max-width : 768px ) {
	.carrousel-container{
		max-height: 300px !important;
	}

	.carrousel-container .anchor-container div{
		width: 30px !important;
		height: 40px !important;
		font-size: 1.2rem !important;
		margin: 0 15px !important;
	}

	.carrousel-container .dot-container .dot-active,.dot-disabled {
		width: 27px !important;
	}

	.carrousel-container .img-container .img-info-container {	
		width: 60% !important ;
		height: 40% !important;
		bottom: 70px !important;
	}

	.carrousel-container .img-container .img-info-container .title{	
		font-size: 1.1rem !important ;
	}

	.carrousel-container .img-container .img-info-container .description{
		display: none
	}

	.carrousel-container .img-container .img-info-container .footer{
		padding: 0 10px !important;
		margin : 17px 0 0 0 !important;
	}

	.carrousel-container .img-container .img-info-container .footer button{
		padding: 3px 6px !important;
		font-size: 0.8rem !important ;
	}

	.carrousel-container .img-container .img-info-container .footer i{
		margin: 2px 1px 0 0 !important;
		font-size: 1rem !important;
	}
	
	.carrousel-container .img-container .img-info-container .footer .year,.rate{
		font-size: 0.7rem !important;
		padding: 0 17px;
	}

}
 
@media screen and (min-width : 769px) and (max-width : 1024px) {
	.carrousel-container .img-container .img-info-container{
		height: 50% !important;
		width: 70% !important;
		bottom: 90px !important;

	}
	.carrousel-container .img-container .img-info-container .description{
		font-size: 0.85rem !important;
		margin : 0 0 47px 0 !important;
	}

	.carrousel-container .img-container .img-info-container .footer{
		padding: 7px 10px !important;
	}

	.carrousel-container .img-container .img-info-container .footer button{
		padding: 1px 6px !important;
		font-size: 0.8rem !important ;
	}
}

@media screen and (min-width : 1025px) and (max-width : 1199px) {
	.carrousel-container .img-container .img-info-container {
		width: 60% !important;
		
	}
	.carrousel-container .img-container .img-info-container .description{
		font-size: 0.85rem !important;
		margin : 0 0 37px 0 !important;
	}
}


.carrousel-container {
	width: 100%;
	height: 50%;
	max-height: 430px;
	position: absolute;
	top: 0
}

.carrousel-container a {
	outline: none;
	text-decoration: none;
}

.carrousel-container .img-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center
}

.carrousel-container .img-container img {
	width: 100%;
	height: 100%;
	transition: 1s ease;
	position: absolute;
	z-index: 100;
}

.carrousel-container .img-container .img-disabled {
	opacity: 0;
	transition : 1s ease;
	transform: scale(1)
}

.carrousel-container .img-container .img-active{
	display: block;
	opacity: 1;
	transform: scale(1);
	transition : 1s ease;
}

.carrousel-container .img-container .anchor-container{
	position: absolute;
	top: 40%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 120;

}

.carrousel-container .img-container .anchor-container div{
	font-size: 1.8rem;
	color: rgb(177, 177, 177);
	margin: 0 35px;
	width: 45px;
	height: 45px;
	text-align: center;
	transition: 1s ease;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center
}

.carrousel-container .img-container .anchor-container div:hover{
	color:whitesmoke;
	background: rgb(80, 80, 80);
	border-radius: 7px;
	opacity: 0.8;

}

.carrousel-container .img-container .img-info-container{
	background: rgba(0,0,0,0.7);
	position: absolute;
	z-index: 150;
	width: 60%;
	height: 50%;
	bottom: 50px;
	border-radius: 7px
}

.carrousel-container .img-container .img-info-container .title{
	font-weight: 400;
	font-size: 1.2rem;
	color: whitesmoke;
	padding: 12px 0 7px 17px;
	letter-spacing: 1px;
	cursor: pointer;
}

.carrousel-container .img-container .img-info-container .description{
	font-weight: 400;
	font-size: 0.85rem;
	color: whitesmoke;
	padding: 7px 17px;
	letter-spacing: 1px;
	height: 37px;
	/*text-overflow: ellipsis; 
	overflow: hidden;
	white-space: nowrap;*/
}

.carrousel-container .img-container .img-info-container .footer{
	margin: 37px 0 0 0;
	display: flex;
	padding: 7px 17px;
	align-items: center
}

.carrousel-container .img-container .img-info-container .footer button{
	background-color: #17a2b8;
	border-radius: 4px;
	border: none;
	outline: none;
	color: whitesmoke;
	padding: 3px 22px;
	font-size: 1.1rem;
	letter-spacing: 0.7px;
	transition: 0.5s ease;
	font-family: 'Roboto Slab', serif;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center
}

.carrousel-container .img-container .img-info-container .footer button:hover{
	background-color: #138496;
}

.carrousel-container .img-container .img-info-container .footer i{
	margin: 5px 3px 0 0;
	font-size: 1.4rem
}

.carrousel-container .img-container .img-info-container .footer .year,.rate{
	font-size: 1rem;
	color: whitesmoke;
	padding: 0 17px;
}

.carrousel-container .img-container .img-info-container .footer .rate i{
	color: gold;
	font-size: 0.7rem;
	margin: 0 2px
}



.carrousel-container .img-container .dot-container{
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	z-index: 120;
	bottom: 8px	;
}

.carrousel-container .img-container .dot-container .dot-disabled{
	width: 47px;
	height: 5px;
	background: grey;
	margin: 0 7px;
	border-radius: 7px;
	cursor: pointer;
}

.carrousel-container .img-container .dot-container .dot-active {
	width: 47px;
	height: 5px;
	background: whitesmoke;
	margin: 0 7px;
	border-radius: 7px;
	cursor: pointer;
}














