@media screen and (max-width : 768px) {
    .movies-list {
        justify-content: center !important;
    }
}

.movies-list {
    width : 90%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}
.movies-list .empty-result{
    color: #17a2b8;
    font-size: 1.2rem;
    margin: 37px 0 0 0;
}